ipykernel
ipywidgets
requests
pyyaml
omegaconf
python-dotenv
openai
anthropic
alpaca-py
beautifulsoup4
pytz
fastapi
uvicorn
kubernetes
pandas
numpy
tqdm
langchain
langchain-openai
langgraph
langsmith
